footer{
    background-color: rgb(82, 82, 82);
    border-top: solid 10px $colorprimary;

    p{
        color: #FFFFFF;
        font-family: poppins, sans-serif;
        font-size: 15px;
        text-align: center;
        padding-top: 30px;
    }
}