header{
    display: flex;
    grid-area: cabecera;
    background-image:linear-gradient(60deg, rgb(20, 100, 120), rgb(3, 44, 54)) ;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    nav{
        display: flex;
        width: 50%;
        top: 0;
        right: 0;

        ul{
        display: flex;
        list-style-type: none;
        height: 50px;
        width: 720px;
        padding: 15px;
        justify-content: space-around;
        align-items: center;
        
            li{
                display: inline;
                flex-wrap: wrap;
                font-family: poppins, sans-serif;
                font-size: 15px;
                font-style: normal;
                text-align: center;
                padding: 10px;
                align-items: center;

                a{
                    color: #FFFFFF;
                    text-decoration: none;

                &:hover{
                    color: rgb(37, 37, 52);
                }
                }
            }
        }
        }
    }