main{
    section{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 50px;

        div{
            width: 500px;
            height: 650px;
        }
    }
}