$colorazul:  rgb(20, 100, 120);
$colorazuloscuro: rgb(3, 44, 54);
$colorgrisclaro: rgb(82, 82, 82);
$coloroscuro: rgb(37, 37, 52);

$subtitulos-font: poppins, sans-serif;
$subtitulos-style: Extrabold;
$subtitulos-size: 40px;

$parrafo-font: poppins, sans-serif;
$parrafo-style: ExtraLight;
$parrafo-size: 13px;

$font: poppins, sans-serif;