.contenedor{
    display: grid;
    grid-template-areas: "cabecera"
                        "contenido"
                        "pie";
    grid-template-columns: 100%;
    grid-template-rows: 250px 800px 200px;
}

.cabecera{
    grid-area: cabecera;
}

.contenido{
    grid-area: contenido;
}

.pie{
    grid-area: pie;
}