* {
  margin: 0;
  padding: 0;
}

.contenedor {
  display: grid;
  grid-template-areas: "cabecera" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 160px auto 180px;
}
.contenedor .cabecera {
  display: flex;
  grid-area: cabecera;
  background-image: linear-gradient(60deg, rgb(20, 100, 120), rgb(3, 44, 54));
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor .main {
  grid-area: main;
}
.contenedor .footer {
  grid-area: footer;
}

@media screen and (max-width: 400px) {
  .contenedor {
    grid-template-areas: "cabecera" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto 100px;
    background-color: rgb(196, 196, 196);
  }
  .cabecera {
    background-color: rgb(37, 37, 52);
  }
}
@media screen and (min-width: 768px) {
  .contenedor {
    grid-template-areas: "cabecera" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 150px auto 120px;
  }
}
.navbar {
  height: 150px;
  padding: 40px;
  background-image: linear-gradient(120deg, rgb(20, 100, 120), rgb(7, 43, 52));
}

.nav-item {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 15px;
}

.nav-link {
  color: #FFFFFF;
}

header nav {
  display: flex;
}
header nav ul {
  display: flex;
  list-style-type: none;
  height: 50px;
  width: 720px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  display: inline;
  flex-wrap: wrap;
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  padding: 10px;
  align-items: center;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul li a:hover {
  color: rgb(37, 37, 52);
}

.home {
  font-family: poppins, sans-serif;
  color: #FFFFFF;
}

.intro {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
}
.intro .card__intro {
  width: 500px;
  height: 650px;
}
.intro .card__intro:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.intro .card__intro .imagen {
  height: 50%;
  width: 100%;
}
.intro .card__intro .imagen__inicio {
  height: 100%;
  width: 100%;
}
.intro .card__intro .cuerpo__intro {
  padding: 5px;
}
.intro .card__caso {
  width: 500px;
  height: 350px;
  transition: height 2s;
  -webkit-animation-name: animaciones;
          animation-name: animaciones;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.intro .card__caso:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  height: 380px;
}
@-webkit-keyframes animaciones {
  0% {
    background-color: rgb(82, 82, 82);
  }
  25% {
    background-color: rgb(37, 37, 52);
  }
  50% {
    background-color: rgb(3, 44, 54);
  }
  75% {
    background-color: rgb(20, 100, 120);
  }
  100% {
    background-color: rgb(82, 82, 82);
  }
}
@keyframes animaciones {
  0% {
    background-color: rgb(82, 82, 82);
  }
  25% {
    background-color: rgb(37, 37, 52);
  }
  50% {
    background-color: rgb(3, 44, 54);
  }
  75% {
    background-color: rgb(20, 100, 120);
  }
  100% {
    background-color: rgb(82, 82, 82);
  }
}
.intro .card__caso .imagen__caso {
  height: 70%;
  width: 100%;
}
.intro .card__caso .intro__caso {
  color: rgb(196, 196, 196);
  font-family: poppins, sans-serif;
  font-style: ExtraBold;
  font-size: 30px;
  padding-left: 15px;
  margin-top: 10px;
}

.intro__somos {
  border-left: solid 12px rgb(82, 82, 82);
  padding-left: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

.intro__somos__texto {
  color: rgb(82, 82, 82);
  font-family: poppins, sans-serif;
  font-style: ExtraLight;
  font-size: 13px;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 10px;
}

/* nosotros */
.nosotros {
  margin-top: 50px;
  margin-bottom: 50px;
}
.nosotros .imagen__nosotros {
  height: 100%;
  width: 100%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card__nosotros {
  width: 500px;
  height: 300px;
}
.card__nosotros .cuerpo__intro {
  padding: 5px;
}

.mision {
  background-color: rgb(82, 82, 82);
  margin: 30px;
  padding: 60px;
  transition: height 2s;
  -webkit-animation-name: animaciones;
          animation-name: animaciones;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.mision .intro__nosotros__mision {
  color: #FFFFFF;
  font-family: poppins, sans-serif;
  font-style: ExtraBold;
  font-size: 35px;
  margin-top: 20px;
}
.mision .intro__nosotros__texto {
  color: #FFFFFF;
  font-family: poppins, sans-serif;
  font-style: light;
  font-size: 14px;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
}

/* servicios */
.imagen__servicios {
  height: 100%;
  width: 100%;
}
.imagen__servicios .imagen__servicio {
  height: 60%;
  width: 100%;
}

.imagen__inicio {
  height: 100%;
  width: 100%;
}

.card__servicios {
  width: 600px;
  height: 650px;
  margin-top: 20px;
}
.card__servicios:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.servicios {
  border-bottom: rgb(82, 82, 82);
  padding: 30px;
}

.servicios__titulo {
  color: rgb(20, 100, 120);
  font-family: poppins, sans-serif;
  font-style: ExtraBold;
  font-size: 60px;
  text-align: center;
}

.servicios__texto {
  color: rgb(82, 82, 82);
  font-family: poppins, sans-serif;
  font-style: ExtraLight;
  font-size: 13px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  margin-left: 50px;
  margin-right: 50px;
}

.servicios__ejemplo {
  margin: 50px;
  border: solid 3px rgb(82, 82, 82);
  border-color: rgb(82, 82, 82);
  padding: 60px;
}

.titulo__servicio {
  color: rgb(20, 100, 120);
  font-family: poppins, sans-serif;
  font-style: Bold;
  font-size: 30px;
}

.texto__servicio {
  color: rgb(37, 37, 52);
  border-left: solid 2px rgb(20, 100, 120);
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
  padding-left: 25px;
}

/* portfolio */
.portfolio {
  background-color: rgb(3, 44, 54);
  margin: 0;
  padding: 50px;
}
.portfolio .imagen__portfolio {
  width: 50%;
  height: 50%;
}
.portfolio .portfolio__titulo {
  color: rgb(20, 100, 120);
  border-top: #FFFFFF solid 1px;
  font-family: poppins, sans-serif;
  font-style: ExtraBold;
  font-size: 60px;
  text-align: center;
}
.portfolio .portfolio__texto {
  color: #FFFFFF;
  font-family: poppins, sans-serif;
  font-style: ExtraLight;
  font-size: 15px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}
.portfolio .portfolio__proyecto {
  border: solid #FFFFFF 3px;
  padding: 50px;
}
.portfolio .portfolio__proyecto .titulo__proyecto {
  color: #FFFFFF;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 45px;
}
.portfolio .portfolio__proyecto .texto__proyecto {
  color: #FFFFFF;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 15px;
  margin-top: 10px;
}

/*contacto*/
.contacto {
  background-color: rgb(3, 44, 54);
  padding: 80px;
  transition: height 2s;
  -webkit-animation-name: animaciones;
          animation-name: animaciones;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@keyframes animaciones {
  0% {
    background-color: rgb(82, 82, 82);
  }
  25% {
    background-color: rgb(37, 37, 52);
  }
  50% {
    background-color: rgb(3, 44, 54);
  }
  75% {
    background-color: rgb(20, 100, 120);
  }
  100% {
    background-color: rgb(82, 82, 82);
  }
}
.contacto .contacto__titulo {
  color: #FFFFFF;
  border-left: #FFFFFF solid 15px;
  font-family: poppins, sans-serif;
  font-style: ExtraBold;
  font-size: 50px;
  padding-left: 20px;
}
.contacto .contacto__texto {
  color: #FFFFFF;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 15px;
  margin-top: 10px;
}

.formulario {
  border: solid rgb(20, 100, 120) 5px;
  margin: 60px;
  margin-right: 500px;
  padding: 50px;
}
.formulario .texto__formulario {
  color: rgb(3, 44, 54);
  font-family: poppins, sans-serif;
  font-style: bold;
  font-size: 15px;
}

.footer {
  grid-area: footer;
  background-color: rgb(82, 82, 82);
  border-top: solid 15px rgb(20, 100, 120);
  box-shadow: 20px 15px 20px 20px rgba(0, 0, 0, 0.5);
  height: 170px;
  align-items: center;
}
.footer .pie__pagina {
  color: #FFFFFF;
  font-family: poppins, sans-serif;
  font-style: ExtraLight;
  font-size: 13px;
  text-align: center;
  padding-top: 30px;
}

.intro__somos {
  font-family: poppins, sans-serif;
  font-style: ExtraBold;
  font-size: 40px;
  color: rgb(20, 100, 120);
}

.mision {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.nosotros {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}/*# sourceMappingURL=styles.css.map */